.services__section {
  width: 100vw;
}
.PatternService {
  position: absolute;
}
.services__div {
  margin: 0 auto;
  padding: 2em;
  width: 90%;
}
.services__span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.services__title {
  text-align: center;
  background-color: #e8e3f3;
  color: #9a5ae4;
  border-radius: 2em;
  text-transform: uppercase;
  font-family: "Georama", sans-serif;
  font-weight: 600;
  align-content: center;
  align-self: center;
  padding: 0.2em 1.4em;
}
.services__subtitle {
  font-family: "Georama", sans-serif;
  font-weight: 400;
  font-size: 2.4em;
  margin-top: -0.1em;
  color: #262f3c;
  letter-spacing: 1px;
}
.services__img {
  color: gray;
}
.services {
  display: flex;
  flex-wrap: wrap;
}
.email__marketing {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 30.5%;
  margin-right: 2em;
  margin-top: 1em;
}

.email__marketing:hover .far,
.email__marketing:hover .fas,
.email__marketing:hover .fab {
  transition: 0.8s all ease-in-out;
  color: #9a5ae4;
}
.email__marketing:hover .services__tag {
  transition: 0.8s all ease-in-out;
  color: #262f3c;
}
.far,
.fas,
.fab {
  font-size: 2.1em;
  font-weight: 100;
  color: #8491a5;
}
.services__tag {
  font-family: "Georama", sans-serif;
  font-size: 1.06em;
  color: #8491a5;
  font-weight: 400;
  margin-left: 1em;
}
.buttons {
  margin-top: 2em;
}
.view__all__services {
  border-radius: 40px;
  padding: 20px;
  border: none;
  width: 12em;
  color: #ffffff;
  background: rgb(252, 70, 107);
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  cursor: pointer;
}
.view__all__services:hover {
  transition: 0.2s all ease-in-out !important;
  background: rgb(253, 40, 82);
}
.more__about__stelecord {
  border-radius: 40px;
  padding: 20px;
  border: 1px solid #8491a56b;
  width: 14em;
  color: #8491a5;
  background-color: transparent;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  cursor: pointer;
  margin-left: 1em;
}
.more__about__stelecord:hover {
  transition: 0.2s all ease-in-out !important;
  background: rgb(252, 70, 107);
  color: #ffffff;
}
